<div class="qr-card">
  <div class="qr-header">
    <div class="qr-icon-check">✅</div>
    <h3>Votre Badge d'Entrée</h3>
    <p class="qr-ev-title">{{ evenement.titre }}</p>
  </div>

  <div class="qr-body">
    <div class="qr-canvas-wrapper">
      <canvas #qrCanvas></canvas>
    </div>
    
    <div class="qr-info">
      <p><strong>Participant :</strong> {{ participant.nomCitoyen }}</p>
      <p><strong>Lieu :</strong> {{ evenement.lieu }}</p>
      <p><strong>Date :</strong> {{ evenement.dateDebut | date:'dd/MM/yyyy HH:mm' }}</p>
    </div>
  </div>

  <div class="qr-footer">
    <button class="btn-download" (click)='telecharger()'>
      <span>📥</span> Télécharger mon QR Code
    </button>
  </div>
</div>